*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(180, 180, 180);
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    margin: 30px;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}

.input input{
    min-width: 500px;
    max-width: 800px;
    border-radius: 20px;
    margin: 20px;
    height: 30px;
    transition: all 0.3s ease;
    padding-left: 15px;
    font-size: 17px;
    background-color: #fff;
}
.input input::placeholder{
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    transition: all 0.3s ease;
}
.input input:hover{
    min-width: 550px;
    max-width: 880px;
    box-shadow: inset 0 0 10px rgba(0, 122, 255, 0.4), 0 0 10px  rgba(0, 122, 255, 0.4), 0 0 10px rgba(0, 122, 255, 0.4),  0 0 10px rgba(0, 122, 255, 0.4); 
    border-color:rgba(0, 122, 255, 0.4) ;

    /* offset-x , offset-y , blur-radius , spread-radius color ----- format of box-shadow*/
}

 input:focus::placeholder{
    text-align: left;
    /* padding-left: 1px; */
}

.input input:focus{
    box-shadow: inset 0 0 10px rgba(0, 122, 255, 0.4), 0 0 10px  rgba(0, 122, 255, 0.4), 0 0 10px rgba(0, 122, 255, 0.4),  0 0 10px rgba(0, 122, 255, 0.4); 
    border-color:rgba(0, 122, 255, 0.4) ;
}


/* making card for recieving info of a git hub user */

.data-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
.data-box{
    border: 2px solid black;
    width: 500px;
    height: 300px;
    border-radius: 20px;
}
.profile-photo img{
    width: 100px;
    height: 100px;
    border-radius: 80%;
    border: 2px solid black;
    margin: 30px;
    transform: translateX(160px);
}
ul{
    text-decoration: none;
    display: flex;
    gap: 50px;
    margin: 10px;
    transform: translateX(40px);
    list-style-type: none;
}
ul li{
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
}
span{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.followers{
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
}

.following{
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
}
.repos{
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
}

.username{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
    margin-top: 10px;
    text-align: center;
}

